.error {
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/77/17/fb/7717fbf1f4ea5676ab6c118cb2552a8f.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .error .error_msg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100%;
} */
.error .error_msg p {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}
